* {
    box-sizing: border-box;
}

:root {
    --primary-color-1: #ff7f03;
    --primary-color-2: #f4f3f1;
}

:root {
    --text-color: #232d2f;
}

:root {
    --background-color: #ffffff;
}

body {
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    background-image: url("img/Voedselbank.png");
}

h1 {
    text-align: center;
}

h2 {
    color: var(--text-color);
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    background-color: var(--background-color);
    position: relative;
    bottom: auto;
    left: 0;
    right: 0;
}

button {
    background-color: var(--primary-color-1);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.form-container {
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    background-color: var(--primary-color-2);
    border-color: var(--primary-color-1);
}

.form-group {
    margin: 25px;
}

input {
    padding: 10px;
    margin: -5px;
    width: 100%;
    font-size: 15px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

select {
    padding: 10px;
    margin: -5px;
    width: 100%;
    font-size: 15px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}