body {
    font-family: Arial;
    background-color: rgb(190, 190, 190);
    background-image: url("img/Voedselbank.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
  }
  
  body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  header{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #516781;
    color: white;
  }
  
  .Name{
    font-size: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  
  .logo > img{
    box-shadow: 5px 6px 2px rgba(0, 0, 0,.4);
    margin: 10px;
    width: 70px;
    height: 70px;
    transition: box-shadow .7s;
  }
  
  .logo > img:hover{
    box-shadow:8px 9px 1px rgba(0, 0, 0,.5);
  }
  
  .Name > p{
    margin: 0px;
  }
  
  .header h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #fff;
  }
  
  a {
    text-decoration: none;
  }
  
  .signup {
    margin: 25px 0;
  }
  
  .GridContainer {
    margin: 40px 0;
    display: flex;
    flex-direction: column; /* Display items in a column */
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .WelcomeBox {
    
    padding: 10%px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: hsla(0, 0%, 100%, 0.4);
    border-radius: 15px;
    color: white;
    text-align: center;
    margin-bottom: 20px; /* Added margin-bottom to create space between WelcomeBox and SubmitForm */
  }
  
  .footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: #4e6075;
    color: #fff;
  }
  
  /*Login gedeelte*/
  .SubmitForm {
    background-color: hsla(0, 0%, 100%, 0.4);
    border-radius: 15px;
    color: white;
  }
  .SubmitForm h2 {
    text-align: center;
  }
  
  form {
    width: 500px;
    padding: 20px;
    background-color: hsla(0, 0%, 100%, 0.4);
    border-radius: 15px;
    color: white;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    border-radius: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0, 0.5);
    background-color: hsla(0, 0%, 100%, 0.5);
  }
  
  .ButtonHolder{
    display: flex;
    justify-content: left;
  }
  
  button[type="submit"] {
    width: 25%;
    padding: 10px;
    background-color: #5085c5;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .buttonregistratie {
    margin-left: 15px;
    width: 100%;
    padding: 10px;
    background-color: #5085c5;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  